.user {
  align-self: flex-start;
  display: flex;
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0 20px 30px;
}

.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
}

.places-list {
  display: flex;
  flex-direction: column-reverse;
}
