.user {
  font-size: 25px;
  font-weight: 400;
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 30px;
}

.title {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 0;
  line-height: 26px;
  font-weight: 400;
}

.places-list {
  display: flex;
  flex-direction: column-reverse;
}
