.dropdown {
  display: flex;
  justify-content: left;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}

.dropdown-item {
  font-size: 20px;
}
