@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

.create-button {
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  height: 33px;
  width: 193px;
  font-size: 22px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  font-family: "Quattrocento Sans", sans-serif;
}
