.details-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 45px;
  width: 272px;

  &__title {
    font-size: 24px;
  }

  &__author {
    font-size: 20px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__map {
    background-image: url("../../images/Captura2.JPG");
    height: 178px;
    margin-bottom: 20px;
    width: 277px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__separator {
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 277px;
  }

  &__comments {
    border: none;
    font-size: 20px;
  }

  &__textarea {
    border: none;
  }

  &__button {
    background-color: #e5e5e5;
    border-radius: 20px;
    height: 40px;
    margin: 0 0 30px 200px;
    text-decoration: none;
    width: 80px;
  }

  &__comments-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 277px;
  }

  &__comment {
    opacity: 50%;
  }

  &__comment-author {
    font-weight: 500;
  }
}

.leaflet-touch {
  height: 210px;
  margin: 10px 0 70px;
  width: 277px;
  z-index: 0;
}
