@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

.login {
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  height: 33px;
  width: 108px;
  left: 231px;
  top: 25px;
  font-size: 22px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #e5e5e5;
  font-family: "Port Lligat Sans", sans-serif;
}

@media (min-width: 600px) {
  .login {
    display: flex;
    background-color: #fff;
    font-size: 27px;
    font-family: "Quattrocento Sans", sans-serif;
    text-decoration: none;
  }
}
