@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

.header {
  display: flex;
  height: 100px;
  background-color: #538393;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
  line-height: 26px;
  font-family: "Quattrocento Sans", sans-serif;
  &__logo {
    width: 130px;
    color: #fff;
    margin: 0;
  }

  &__continent {
    display: none;
  }
}

@media (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    background-color: #fff;

    &__logo {
      display: flex;
      width: 275px;
      color: #000;
      font-size: 31px;
    }
    &__continent {
      display: inline;
      font-size: 27px;
      margin: 0;
    }
  }
}
