h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 41px;
  list-style: none;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
