.home-title {
  margin-bottom: 20px;
}

.home-photo {
  display: none;

  &__text {
    display: none;
  }
}

@media (min-width: 992px) {
  .home-photo {
    align-items: center;
    background-image: url("../../images/lenin-peak-base-camp-1024x683.jpg");
    background-size: cover;
    display: flex;
    height: 825px;
    justify-content: center;
    margin-bottom: 30px;

    &__text {
      color: #fff;
      display: flex;
      font-size: 43px;
      height: 155px;
      text-align: center;
      width: 650px;
    }
  }
}
